@using ZENBEAR.Common
@{ this.ViewData["Title"] = "Home Page"; }

<body background="https://i.pcmag.com/imagery/articles/07J3Zzrlg7xVwiZgRJLdfju-154..v1632335902.jpg">
<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
    </body>
