@using ZENBEAR.Common
@{ this.ViewData["Title"] = "Home Page"; }

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}

<body >
    <div class="text-center">
        <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    </div>
</body>
