@page
@model RegisterModel

<link href="~/css/Register.css" rel="stylesheet" type="text/css">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container register gradient-custom-2">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://thumbs.dreamstime.com/b/panda-yoga-meditation-pose-green-beads-bear-doing-relaxation-82086460.jpg" alt="" />
            <h3>Welcome To ZENBEAR</h3>
            <p>Enjoy your new work!</p>
            <a class="btn btn-primary btn-rounded" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Login</a><br />
        </div>
        <div class="col-md-9 register-right">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div class="tab-content">
                    <div class="tab-pane fade show active">
                        <h3 class="register-heading">Apply as an Employee</h3>
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div asp-validation-summary="None" class="text-danger"></div>
                                <div class="form-group">
                                    <input asp-for="Input.FirstName" type="text" class="form-control" placeholder="First Name *" value="" />
                                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Input.LastName" type="text" class="form-control" placeholder="Last Name *" value="" />
                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Input.Password" type="password" class="form-control" placeholder="Password *" value="" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Input.ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password *" value="" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <input asp-for="Input.Email" type="email" class="form-control" placeholder="Your Email *" value="" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <select id="Department" asp-for="Input.Department" class="form-control">
                                        <option value="" selected="selected">Select Your Department</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select id="Jobtitle" asp-for="Input.JobTitle" class="form-control">
                                        <option value="" selected="selected">Select Your Job Title</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <div class="maxl">
                                        <label class="radio inline">
                                            <input type="radio" asp-for="Input.Location" id="Office" value="Office" checked>
                                            <span> Office </span>
                                        </label>
                                        <label class="radio inline">
                                            <input type="radio" asp-for="Input.Location" id="Headquater" value="Headquater">
                                            <span>Head Quater </span>
                                        </label>
                                    </div>
                                </div>
                                <input type="submit" class="btnRegister" value="Register" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">
    var typeObject = @Html.Raw(Model.Jobs);
</script>
<script type="text/javascript" src="~/js/loadDepartments.js" asp-append-version="true"></script>

