@model ZENBEAR.Web.ViewModels.Reports.TicketsMonthReportViewModel

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<link rel="stylesheet" href="~/css/monthReprt.css" asp-append-version="true" />

<figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description">
        This chart shows number of tickets for all projects independently if they are open or closed.
        we can see here total count for created tickets for every month and every project we have in our company.
        This chart is accessible only for users in Admin role, they can send data to department's Head's.
    </p>
</figure>

<script type="text/javascript">
    var serviceDesk = @Html.Raw(Model.ITServiceTickets);
    var infoSec = @Html.Raw(Model.InfoSecTickets);
</script>
<script type="text/javascript" src="~/js/monthReport.js" asp-append-version="true"></script>
